{% extends "learning_logs/base.html" %}

{% block content %}

<p>Topics: {{ topic }}</p>

<p>Entries: </p>

<p><a href="{% url 'new_entry' topic.id %}">add new entry</a></p>

<ul>
    {% for entry in entries %}
    <li>
        <p>{{ entry.date_added|date:'M d, y H:i' }} - {{ entry.text }}</p>
        <a href="{% url 'edit_entry' entry.id %}">edit entry</a>
    </li>
    {% empty %}
        <li>
            There are no entries for this topic yet.
        </li>
    {% endfor %}
</ul>

{% endblock content %}